name: grafana
description: "Monitoring dashboards and visualization"

dependencies:
  - name: influxdb
    variables:
      GRAFANA_INFLUXDB_URL: "http://${HOST}:${PORT}"
      GRAFANA_INFLUXDB_HOST: "${HOST}"
      GRAFANA_INFLUXDB_UID: "${HOST}"
      INFLUXDB_SERVICE: "${SERVICE_NAME}"
    credentials:
      GRAFANA_INFLUXDB_TOKEN: "DOCKER_INFLUXDB_INIT_ADMIN_TOKEN"
      GRAFANA_INFLUXDB_ORG: "DOCKER_INFLUXDB_INIT_ORG"
  - name: grafana-image-renderer
    variables:
      GRAFANA_RENDERER_SERVICE: "${SERVICE_NAME}"

variables:
  GRAFANA_PORT:
    default: "3000"
    description: "Grafana web port"
    prompt: true
  GF_SECURITY_ADMIN_USER:
    default: "admin"
    description: "Admin username"
    prompt: true
  GF_SECURITY_ADMIN_PASSWORD:
    default: ""
    description: "Admin password"
    generate: password
    prompt: true
  GF_RENDERING_SERVER_URL:
    default: "http://${SERVER_IP}:${RENDERING_PORT:-8081}/render"
    description: "Image renderer URL (uses SERVER_IP for browser accessibility)"
    prompt: false
  GF_RENDERING_CALLBACK_URL:
    default: "http://${SERVER_IP}:${GRAFANA_PORT:-3000}/"
    description: "Grafana callback URL for renderer (uses SERVER_IP for browser accessibility)"
    prompt: false
  GF_UNIFIED_ALERTING_SCREENSHOTS_CAPTURE:
    default: "true"
    description: "Enable alert screenshots"
  INFLUXDB_SERVICE:
    default: "influxdb"
    description: "InfluxDB service name (for depends_on)"
  GRAFANA_RENDERER_SERVICE:
    default: "grafana-image-renderer"
    description: "Grafana image renderer service name (for depends_on)"

config_files:
  - path: "provisioning/datasources/influxdb.yaml"
    content: |
      # Grafana InfluxDB Datasource Provisioning
      # UID fix pentru portabilitate dashboards
      apiVersion: 1

      datasources:
        - name: InfluxDB
          uid: ${GRAFANA_INFLUXDB_UID:-influxdb}
          type: influxdb
          access: proxy
          url: http://${GRAFANA_INFLUXDB_HOST:-influxdb}:8086
          editable: false
          isDefault: true
          jsonData:
            version: Flux
            organization: ${GRAFANA_INFLUXDB_ORG:-${DOCKER_INFLUXDB_INIT_ORG}}
            defaultBucket: ${GRAFANA_INFLUXDB_BUCKET:-default}
            tlsSkipVerify: true
          secureJsonData:
            token: ${GRAFANA_INFLUXDB_TOKEN:-${DOCKER_INFLUXDB_INIT_ADMIN_TOKEN}}

  - path: "provisioning/dashboards/dashboards.yaml"
    content: |
      # Grafana Dashboard Provisioning
      apiVersion: 1

      providers:
        - name: 'PV-Stack'
          orgId: 1
          type: file
          disableDeletion: false
          updateIntervalSeconds: 0
          allowUiUpdates: true
          options:
            path: /etc/grafana/provisioning/dashboards
            foldersFromFilesStructure: true

compose: |
  ${SERVICE_NAME}:
    image: grafana/grafana:latest
    container_name: ${SERVICE_NAME}
    hostname: ${SERVICE_NAME}
    restart: unless-stopped
    depends_on:
      - ${INFLUXDB_SERVICE}
      - ${GRAFANA_RENDERER_SERVICE}
    user: "${PUID}:${PGID}"
    ports:
      - "${GRAFANA_PORT:-3000}:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_RENDERING_SERVER_URL=${GF_RENDERING_SERVER_URL:-}
      - GF_RENDERING_CALLBACK_URL=${GF_RENDERING_CALLBACK_URL:-}
      - GF_UNIFIED_ALERTING_SCREENSHOTS_CAPTURE=${GF_UNIFIED_ALERTING_SCREENSHOTS_CAPTURE:-true}
    volumes:
      - ${DOCKER_ROOT}/${SERVICE_NAME}/data:/var/lib/grafana
      - ${DOCKER_ROOT}/${SERVICE_NAME}/provisioning:/etc/grafana/provisioning
