name: grafana
description: "Monitoring dashboards and visualization"

dependencies:
  - name: influxdb
    variables:
      GRAFANA_INFLUXDB_URL: "http://${HOST}:${PORT}"
  - name: grafana-image-renderer
    variables:
      GF_RENDERING_SERVER_URL: "http://${CONTAINER}:8081/render"
      GF_RENDERING_CALLBACK_URL: "http://grafana:3000/"
      GF_UNIFIED_ALERTING_SCREENSHOTS_CAPTURE: "true"

variables:
  GRAFANA_PORT:
    default: "3000"
    description: "Grafana web port"
    prompt: true
  GF_SECURITY_ADMIN_USER:
    default: "admin"
    description: "Admin username"
    prompt: true
  GF_SECURITY_ADMIN_PASSWORD:
    default: ""
    description: "Admin password"
    generate: password
    prompt: true
  GF_RENDERING_SERVER_URL:
    default: "http://grafana-image-renderer:8081/render"
    description: "Image renderer URL"
    prompt: true
  GF_RENDERING_CALLBACK_URL:
    default: "http://grafana:3000/"
    description: "Grafana callback URL for renderer"
    prompt: true
  GF_UNIFIED_ALERTING_SCREENSHOTS_CAPTURE:
    default: "true"
    description: "Enable alert screenshots"

config_files:
  - path: "provisioning/datasources/influxdb.yaml"
    content: |
      # Grafana InfluxDB Datasource Provisioning
      apiVersion: 1

      datasources:
        - name: InfluxDB
          type: influxdb
          access: proxy
          url: http://influxdb:8086
          # For InfluxDB 2.x with Flux
          jsonData:
            version: Flux
            organization: docker-services
            defaultBucket: default
            tlsSkipVerify: true
          secureJsonData:
            token: ${INFLUXDB_TOKEN}
          # Uncomment below for InfluxDB 1.x
          # database: telegraf
          # user: admin
          # secureJsonData:
          #   password: your_password

compose: |
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    user: "${PUID}:${PGID}"
    ports:
      - "${GRAFANA_PORT:-3000}:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_RENDERING_SERVER_URL=${GF_RENDERING_SERVER_URL:-}
      - GF_RENDERING_CALLBACK_URL=${GF_RENDERING_CALLBACK_URL:-}
      - GF_UNIFIED_ALERTING_SCREENSHOTS_CAPTURE=${GF_UNIFIED_ALERTING_SCREENSHOTS_CAPTURE:-false}
    volumes:
      - ${DOCKER_ROOT}/grafana/data:/var/lib/grafana
      - ${DOCKER_ROOT}/grafana/provisioning:/etc/grafana/provisioning
