name: vscode
description: "VS Code in the browser"

variables:
  VSCODE_PORT:
    default: "8443"
    description: "Web port"
  PASSWORD:
    default: ""
    description: "Web password"
    generate: password
  SUDO_PASSWORD:
    default: ""
    description: "Sudo password"
    generate: password

compose: |
  ${SERVICE_NAME}:
    image: lscr.io/linuxserver/code-server:latest
    container_name: ${SERVICE_NAME}
    restart: unless-stopped
    ports:
      - "${VSCODE_PORT:-8443}:8443"
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - PASSWORD=${PASSWORD}
      - SUDO_PASSWORD=${SUDO_PASSWORD}
    volumes:
      - ${DOCKER_ROOT}/${SERVICE_NAME}/config:/config
      - ${DOCKER_ROOT}/${SERVICE_NAME}/data:/data
